{% extends "base.html" %}
{% block titulo %}Importância da fruta na sociedade{% endblock %}
{% block conteudo %}
	<h2>Importância da fruta na sociedade</h2>

	<p class="paragrafo-texto">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non sem orci. Cras ultricies a mi id luctus. Mauris euismod varius dolor, ac cursus odio commodo non. Phasellus bibendum nunc a felis pulvinar, ac congue ipsum ultricies. Quisque sit amet elit vitae est aliquet tincidunt. Praesent id lacus fringilla, egestas urna a, placerat ipsum. Integer in urna dictum diam scelerisque sagittis.
		
		Integer maximus sem sed nulla porttitor, non ornare nibh suscipit. Aliquam laoreet nibh finibus, feugiat ipsum ut, aliquet sem. Proin tristique mi mi, nec dictum nulla gravida quis. Donec vel venenatis nunc, sit amet venenatis magna. Morbi tellus elit, varius ut ex ac, tempor iaculis tortor. Mauris justo dolor, condimentum non tortor nec, convallis suscipit nunc. Cras vitae elementum ipsum. Integer sollicitudin est nec purus tincidunt cursus. Aliquam at varius mi. Duis laoreet orci nec metus commodo semper. Phasellus eu maximus orci, quis ultricies magna.
		
		Vestibulum in enim sit amet nunc lobortis lacinia. Integer eu massa laoreet, rutrum metus quis, cursus erat. Sed feugiat auctor massa. Nam eros nulla, suscipit sed convallis in, pretium eget orci. Nunc varius ligula euismod consectetur auctor. Ut lobortis nibh nec ultrices tempor. Nam neque dui, iaculis id dui at, bibendum malesuada tortor. Praesent dignissim sapien venenatis neque finibus, quis feugiat odio sodales. Curabitur vitae lacus lectus. In ac mauris nibh. Nunc feugiat libero eu leo dictum, vitae cursus orci vulputate. Donec in dui vitae metus vestibulum bibendum eu aliquet metus. Nullam et dolor ut purus lacinia volutpat non nec neque.
	</p>
{% endblock %}
